# **Phase 1: Processing the Data!**

#### **Everything, the Whole Enchilada:** Loading, Cleaning, Feature Engineering, etc.

#### **Dataset:** Walmart.csv (https://www.kaggle.com/datasets/yasserh/walmart-dataset/data)

#### **Author:** Anthony Tian

In [3]:
import pandas as pd
import pathlib
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### **Loading the Data:**

In [5]:
path = "/Users/showhq/ShowsStores/data_raw/Walmart.csv"
walmart_df = pd.read_csv(path)
print(walmart_df.shape)
print(walmart_df.columns)
walmart_df

(6435, 8)
Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

#### **Cleaning the Data:**

In [7]:
print(walmart_df.dtypes)

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

In [8]:
walmart_df['Date'] = pd.to_datetime(walmart_df['Date'], dayfirst = True)                                 
print(walmart_df.dtypes)

Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

In [9]:
print(walmart_df.isnull().sum())

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [10]:
print(walmart_df.duplicated().sum())

0

In [11]:
walmart_df.describe().T

,count,mean,min,25%,50%,75%,max,std
Store,6435.0,23.0,1.0,12.0,23.0,34.0,45.0,12.988182
Date,6435,2011-06-17 00:00:00,2010-02-05 00:00:00,2010-10-08 00:00:00,2011-06-17 00:00:00,2012-02-24 00:00:00,2012-10-26 00:00:00,NaN
Weekly_Sales,6435.0,1046964.877562,209986.25,553350.105,960746.04,1420158.66,3818686.45,564366.622054
Holiday_Flag,6435.0,0.06993,0.0,0.0,0.0,0.0,1.0,0.255049
Temperature,6435.0,60.663782,-2.06,47.46,62.67,74.94,100.14,18.444933
Fuel_Price,6435.0,3.358607,2.472,2.933,3.445,3.735,4.468,0.45902
CPI,6435.0,171.578394,126.064,131.735,182.616521,212.743293,227.232807,39.356712
Unemployment,6435.0,7.999151,3.879,6.891,7.874,8.622,14.313,1.875885

In [12]:
# so far, so good.
# BC this dataset contains 45 Walmart stores, it'd be ideal if each store had the same date benchmarks
walmart_df.groupby('Store')['Date'].agg(['min','max'])

             min        max
Store
1     2010-02-05 2012-10-26
2     2010-02-05 2012-10-26
3     2010-02-05 2012-10-26
4     2010-02-05 2012-10-26
5     2010-02-05 2012-10-26
6     2010-02-05 2012-10-26
7     2010-02-05 2012-10-26
8     2010-02-05 2012-10-26
9     2010-02-05 2012-10-26
10    2010-02-05 2012-10-26
11    2010-02-05 2012-10-26
12    2010-02-05 2012-10-26
13    2010-02-05 2012-10-26
14    2010-02-05 2012-10-26
15    2010-02-05 2012-10-26
16    2010-02-05 2012-10-26
17    2010-02-05 2012-10-26
18    2010-02-05 2012-10-26
19    2010-02-05 2012-10-26
20    2010-02-05 2012-10-26
21    2010-02-05 2012-10-26
22    2010-02-05 2012-10-26
23    2010-02-05 2012-10-26
24    2010-02-05 2012-10-26
25    2010-02-05 2012-10-26
26    2010-02-05 2012-10-26
27    2010-02-05 2012-10-26
28    2010-02-05 2012-10-26
29    2010-02-05 2012-10-26
30    2010-02-05 2012-10-26
31    2010-02-05 2012-10-26
32    2010-02-05 2012-10-26
33    2010-02-05 2012-10-26
34    2010-02-05 2012-10-26
35    2010-02-05 2012-10-26
36    2010-02-05 2012-10-26
37    2010-02-05 2012-10-26
38    2010-02-05 2012-10-26
39    2010-02-05 2012-10-26
40    2010-02-05 2012-10-26
41    2010-02-05 2012-10-26
42    2010-02-05 2012-10-26
43    2010-02-05 2012-10-26
44    2010-02-05 2012-10-26
45    2010-02-05 2012-10-26

#### **Engineering New Features:** With the information given, much more can be derived/inferred.

- **Holiday Uplift Index** => compare weekly sales on holidays vs non-holidays for the same store/season  
- **Sales per Temperature Band** => does hot/cold weather impact sales? (bin temperatures)  
- **Fuel Sensitivity** => Weekly_Sales Ã· Fuel_Price â†’ proxy for price elasticity in relation to travel/shopping  
- **Rolling Averages / Volatility** => 4-week / 12-week moving avg + std dev to smooth noise  
- **Growth Rate (%)** => week-over-week % change in sales  
- **Shock Recovery Time** => how many weeks after a dip (e.g., recession, weather spike) sales take to return to baseline  
- **Holiday Uplift Score** => normalized uplift per store, benchmarked across stores  
- **Inflation-Adjusted Sales** => Weekly_Sales Ã· (CPI / base CPI)  
- **Basket Size Proxy** => Weekly_Sales Ã· Unemployment (assumes fewer shoppers when unemployment â†‘, so avg spend â†‘/â†“)  
- **Resilience Index** => stability of sales during external shocks (fuel spike, CPI rise, unemployment â†‘)

In [15]:
# Holiday Uplift Index baseline vs holiday sales => percent difference => uplift index
baseline_sales = walmart_df[walmart_df['Holiday_Flag'] == 0].groupby('Store')['Weekly_Sales'].mean()
walmart_df = walmart_df.merge(baseline_sales.rename('Baseline_Sales'), on='Store', how='left')
walmart_df['Holiday_Uplift_Index'] = ((walmart_df['Weekly_Sales'] - walmart_df['Baseline_Sales']) / walmart_df['Baseline_Sales']).round(3)
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042

In [16]:
# Fuel Sensitivity (level)
walmart_df['Fuel_Sensitivity'] = walmart_df['Weekly_Sales'] / walmart_df['Fuel_Price']
# Fuel Sensitivity (store-normalized index = 1.0 at store's average)
store_mean_fs = walmart_df.groupby('Store')['Fuel_Sensitivity'].transform('mean')
walmart_df['Fuel_Sensitivity_Index'] = walmart_df['Fuel_Sensitivity'] / store_mean_fs
# Rolling 12-week correlation between sales and fuel price (per store)
walmart_df['FS_RollingCorr_12w'] = walmart_df.groupby('Store').apply(lambda g: g['Weekly_Sales'].rolling(12).corr(g['Fuel_Price'])).reset_index(level=0, drop=True)
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,Fuel_Sensitivity,Fuel_Sensitivity_Index,FS_RollingCorr_12w
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,639071.111975,1.301570,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,644410.298273,1.312444,NaN
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,641196.567224,1.305899,NaN

In [18]:
# Rolling Averages & Volatility weekly sales â†’ rolling mean/std (4w,12w) => trends + stability

walmart_df = walmart_df.sort_values(['Store','Date']).reset_index(drop=True)

ma4 = walmart_df.groupby('Store')['Weekly_Sales'].rolling(4, min_periods=2).mean().reset_index(level=0, drop=True)
ma12 = walmart_df.groupby('Store')['Weekly_Sales'].rolling(12, min_periods=6).mean().reset_index(level=0, drop=True)
sd4 = walmart_df.groupby('Store')['Weekly_Sales'].rolling(4, min_periods=2).std().reset_index(level=0, drop=True)
sd12 = walmart_df.groupby('Store')['Weekly_Sales'].rolling(12, min_periods=6).std().reset_index(level=0, drop=True)

walmart_df['MA_4w'] = ma4
walmart_df['MA_12w'] = ma12
walmart_df['STD_4w'] = sd4
walmart_df['STD_12w'] = sd12
walmart_df['CV_12w'] = (sd12 / ma12)

# rolling z-score (for outliers)
walmart_df['Z_12w'] = (walmart_df['Weekly_Sales'] - ma12) / sd12
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,Fuel_Sensitivity,Fuel_Sensitivity_Index,FS_RollingCorr_12w,Temp_Band,MA_4w,MA_12w,STD_4w,STD_12w,CV_12w,Z_12w
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,639071.111975,1.301570,NaN,Mild,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,644410.298273,1.312444,NaN,Cold,1.642824e+06,NaN,1225.741321,NaN,NaN,NaN
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,641196.567224,1.305899,NaN,Cold,1.632539e+06,NaN,17835.791719,NaN,NaN,NaN

In [19]:
# Growth Rate (%) week-over-week % change in sales
walmart_df['Sales_Growth_Rate'] = walmart_df.groupby('Store')['Weekly_Sales'].pct_change() * 100
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,...,Fuel_Sensitivity_Index,FS_RollingCorr_12w,Temp_Band,MA_4w,MA_12w,STD_4w,STD_12w,CV_12w,Z_12w,Sales_Growth_Rate
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,...,1.301570,NaN,Mild,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,...,1.312444,NaN,Cold,1.642824e+06,NaN,1225.741321,NaN,NaN,NaN,-0.105461
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,...,1.305899,NaN,Cold,1.632539e+06,NaN,17835.791719,NaN,NaN,NaN,-1.826434

In [20]:
# Shock Recovery Time weeks after dip until sales return to rolling mean baseline
rolling_mean = walmart_df.groupby('Store')['Weekly_Sales'].transform(lambda x: x.rolling(4, min_periods=1).mean())
walmart_df['Shock_Recovery'] = (rolling_mean - walmart_df['Weekly_Sales']).clip(lower=0)
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,...,FS_RollingCorr_12w,Temp_Band,MA_4w,MA_12w,STD_4w,STD_12w,CV_12w,Z_12w,Sales_Growth_Rate,Shock_Recovery
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,...,NaN,Mild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,...,NaN,Cold,1.642824e+06,NaN,1225.741321,NaN,NaN,NaN,-0.105461,866.730000
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,...,NaN,Cold,1.632539e+06,NaN,17835.791719,NaN,NaN,NaN,-1.826434,20570.666667

In [21]:
# Holiday Uplift Score normalized uplift per store vs all-store avg
store_avg = walmart_df.groupby('Store')['Weekly_Sales'].transform('mean')
holiday_avg = walmart_df.groupby(['Store','Holiday_Flag'])['Weekly_Sales'].transform('mean')
walmart_df['Holiday_Uplift_Score'] = ((holiday_avg - store_avg) / store_avg).round(3)
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,...,Temp_Band,MA_4w,MA_12w,STD_4w,STD_12w,CV_12w,Z_12w,Sales_Growth_Rate,Shock_Recovery,Holiday_Uplift_Score
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,...,Mild,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-0.005
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,...,Cold,1.642824e+06,NaN,1225.741321,NaN,NaN,NaN,-0.105461,866.730000,0.071
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,...,Cold,1.632539e+06,NaN,17835.791719,NaN,NaN,NaN,-1.826434,20570.666667,-0.005

In [22]:
# Inflation-Adjusted Sales Weekly_Sales Ã· (CPI / base CPI)
base_cpi = walmart_df['CPI'].iloc[0]
walmart_df['Inflation_Adj_Sales'] = walmart_df['Weekly_Sales'] / (walmart_df['CPI'] / base_cpi)
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,...,MA_4w,MA_12w,STD_4w,STD_12w,CV_12w,Z_12w,Sales_Growth_Rate,Shock_Recovery,Holiday_Uplift_Score,Inflation_Adj_Sales
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-0.005,1.643691e+06
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,...,1.642824e+06,NaN,1225.741321,NaN,NaN,NaN,-0.105461,866.730000,0.071,1.640824e+06
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,...,1.632539e+06,NaN,17835.791719,NaN,NaN,NaN,-1.826434,20570.666667,-0.005,1.610497e+06

In [23]:
# Basket Size Proxy Weekly_Sales Ã· Unemployment (spend per active worker)
walmart_df['Basket_Size_Proxy'] = (walmart_df['Weekly_Sales'] / walmart_df['Unemployment']).round(2)
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,...,MA_12w,STD_4w,STD_12w,CV_12w,Z_12w,Sales_Growth_Rate,Shock_Recovery,Holiday_Uplift_Score,Inflation_Adj_Sales,Basket_Size_Proxy
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,-0.005,1.643691e+06,202774.60
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,...,NaN,1225.741321,NaN,NaN,NaN,-0.105461,866.730000,0.071,1.640824e+06,202560.75
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,...,NaN,17835.791719,NaN,NaN,NaN,-1.826434,20570.666667,-0.005,1.610497e+06,198861.11

In [24]:
# Resilience Index stability of sales during shocks (rolling std Ã· rolling mean)
rolling_std = walmart_df.groupby('Store')['Weekly_Sales'].transform(lambda x: x.rolling(12, min_periods=4).std())
rolling_mean = walmart_df.groupby('Store')['Weekly_Sales'].transform(lambda x: x.rolling(12, min_periods=4).mean())
walmart_df['Resilience_Index'] = (1 - (rolling_std / rolling_mean)).round(3)
walmart_df.head(3)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,...,STD_4w,STD_12w,CV_12w,Z_12w,Sales_Growth_Rate,Shock_Recovery,Holiday_Uplift_Score,Inflation_Adj_Sales,Basket_Size_Proxy,Resilience_Index
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,...,NaN,NaN,NaN,NaN,NaN,0.000000,-0.005,1.643691e+06,202774.60,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,...,1225.741321,NaN,NaN,NaN,-0.105461,866.730000,0.071,1.640824e+06,202560.75,NaN
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,...,17835.791719,NaN,NaN,NaN,-1.826434,20570.666667,-0.005,1.610497e+06,198861.11,NaN

In [25]:
print(walmart_df.dtypes, walmart_df.columns)
walmart_df

Store                              int64
Date                      datetime64[ns]
Weekly_Sales                     float64
Holiday_Flag                       int64
Temperature                      float64
Fuel_Price                       float64
CPI                              float64
Unemployment                     float64
Baseline_Sales                   float64
Holiday_Uplift_Index             float64
Fuel_Sensitivity                 float64
Fuel_Sensitivity_Index           float64
FS_RollingCorr_12w               float64
Temp_Band                       category
MA_4w                            float64
MA_12w                           float64
STD_4w                           float64
STD_12w                          float64
CV_12w                           float64
Z_12w                            float64
Sales_Growth_Rate                float64
Shock_Recovery                   float64
Holiday_Uplift_Score             float64
Inflation_Adj_Sales              float64
Basket_Size_Proxy                float64
Resilience_Index                 float64
dtype: object Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment', 'Baseline_Sales',
       'Holiday_Uplift_Index', 'Fuel_Sensitivity', 'Fuel_Sensitivity_Index',
       'FS_RollingCorr_12w', 'Temp_Band', 'MA_4w', 'MA_12w', 'STD_4w',
       'STD_12w', 'CV_12w', 'Z_12w', 'Sales_Growth_Rate', 'Shock_Recovery',
       'Holiday_Uplift_Score', 'Inflation_Adj_Sales', 'Basket_Size_Proxy',
       'Resilience_Index'],
      dtype='object')

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Baseline_Sales,Holiday_Uplift_Index,...,STD_4w,STD_12w,CV_12w,Z_12w,Sales_Growth_Rate,Shock_Recovery,Holiday_Uplift_Score,Inflation_Adj_Sales,Basket_Size_Proxy,Resilience_Index
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,1.546957e+06,0.063,...,NaN,NaN,NaN,NaN,NaN,0.000000,-0.005,1.643691e+06,202774.60,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,1.546957e+06,0.061,...,1225.741321,NaN,NaN,NaN,-0.105461,866.730000,0.071,1.640824e+06,202560.75,NaN
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,1.546957e+06,0.042,...,17835.791719,NaN,NaN,NaN,-1.826434,20570.666667,-0.005,1.610497e+06,198861.11,NaN
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,1.546957e+06,-0.089,...,112353.415114,NaN,NaN,NaN,-12.546189,167108.435000,-0.005,1.408238e+06,173911.62,0.929
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,1.546957e+06,0.005,...,103135.002548,NaN,NaN,NaN,10.291285,0.000000,-0.005,1.552940e+06,191809.36,0.938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684,7.821985e+05,-0.088,...,28158.111035,17636.366645,0.024220,-0.849664,-1.370825,13078.820000,-0.005,7.840510e+05,82125.05,0.976
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667,7.821985e+05,-0.062,...,13372.247001,16398.780618,0.022563,0.406105,2.843783,0.000000,-0.005,8.056896e+05,84626.18,0.977
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667,7.821985e+05,-0.061,...,10003.552464,16234.285331,0.022345,0.488556,0.137608,0.000000,-0.005,8.061403e+05,84742.63,0.978
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667,7.821985e+05,-0.082,...,10770.694653,15798.230247,0.021729,-0.566221,-2.224591,6679.197500,-0.005,7.881922e+05,82857.45,0.978
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667,7.821985e+05,-0.028,...,17479.191028,18456.542544,0.025285,1.643389,5.870269,0.000000,-0.005,8.345565e+05,87721.41,0.975

In [26]:
walmart_df.replace([np.inf, -np.inf], np.nan, inplace=True)
walmart_df.to_csv("/Users/showhq/ShowsStores/data_proc/Walmart_Main.csv", index=False)